<div class="search_bar">
    <%= form_tag("/search", method: "get", class: "search") do %>
        <%= text_field_tag(:keyword, '', class: "search_field") %>
        <%= submit_tag("Search") %>
    <% end %>
    <span class="icon_bar"><a href="/"><%= image_tag("icon.jpg") %></a></span>
</div>
<div class="search_result">
    <% if @documents.present? %>
        <% @documents.each do |key, document| %>
            <%= render document %><br>
        <% end %>
    <% else %>
        Sorry, can't not find the related documents.
    <% end %>
</div>
